APP_ENV=docker
APP_PORT=80
DB_HOST=db
DB_PORT=3306
DB_EXTERNAL_PORT=3307
DB_NAME=ujosemarti_sistem
DB_USER=sistedu_user
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me
PHPMYADMIN_BLOWFISH_SECRET=change_me_to_a_long_random_string
BASE_PATH=http://localhost/
BASE_PATH_CONTROL=http://localhost/
BASE_PATH_REL=/
PAGE_TITLE=Sistedu