.DS_Store
node_modules/
**/node_modules/
dist/

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
lib/config/config.php

build/
build/*
sockets/node_modules/
reports/exports/
*.zip
/*.zip

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.env.local
volumes/db/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
